{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>the facespace</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">facespace</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

		<h2>Login</h2>

		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		  {% csrf_token %}
		  <table>
		    <tr>
		      <td>{{ form.username.label_tag }}</td>
		      <td>{{ form.username }}</td>
		    </tr>
		    <tr>
		      <td>{{ form.password.label_tag }}</td>
		      <td>{{ form.password }}</td>
		    </tr>
		  </table>
		  
		  <input type="submit" value="login" />
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>


    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>

