{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>the facespace</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">facespace</a>
        </div>
        <div class="navbar-collapse collapse">
        <form action="{% url 'search' %}" method="get" class="navbar-form pull-right">
          <div class="input-append">
            <input class="span4" id="appendedInputButton" name="query" type="text" placeholder="Search...">
            <button class="btn" type="button">Search</button>
          </div>
        </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{ url 'add_ad' }">Create Ad</a></li>
                <li><a href="{% url 'interest' 1 %}">Interests</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{ url 'add_interest' }">Add Interest</a></li>
                <li><a href="{ url 'about' }">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>