{% extends "base.html" %}

{% block content %}

<style>



</style>

<div class="home row">
  <div class="left-margin col-xs-2"></div>

  <div class="sidebar col-xs-2">
    <a href="{% url 'profile' user.username %}">{{ user.first_name }}</a>
  </div>

  <div class="feed col-xs-8">
    {% for s in statuses %}
    <div class="post">
      <div class="header">
        {{ s.user }}
      </div>
      <div>
        <p class="body">{{ s.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="right-margin col-xs-2"></div>
</div>
{% endblock %}