{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="index">
  <h1>Here is {{ facespaceuser.first_name }}'s profile.</h1>

  {% thumbnail facespaceuser.profile_picture.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
  <p class="lead">
  {% if friendship %}
  <h1>friendship pending</h1>
  {% else %}
  <a href="{% url 'friend' facespaceuser.id %}">Friend {{ facespaceuser.get_full_name }}</a>
  {% endif %}
  <h2>Friends</h2>
  <div align="left">
  {% for friend in facespaceuser.confirmed_friends %}
    <a href="{% url 'profile' friend.username %}">
    {% thumbnail friend.profile_picture.image "30x30" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {{ friend.get_full_name }}</a><br>
  {% endfor %}
</div>
</div>
{% endblock %}
