{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-3">
        {% if user.pending_friendships %}
        <h4>Pending Friends</h4>
        {% for friendship in user.pending_friendships %}
          <a href="{% url 'confirm' friendship.id %}">
          {% thumbnail friendship.from_friend.profile_picture.image "30x30" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
          {{ friendship.from_friend.get_full_name }}</a><br>
        {% endfor %}
        {% endif %}

        <h4>Friends</h4>
        {% for friend in user.confirmed_friends %}
        <a href="{% url 'profile' friend.username %}">
        {% thumbnail friend.profile_picture.image "30x30" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {{ friend.get_full_name }}</a><br>
        {% endfor %}
      </div>
      <div class="col-sm-9">
        <h1>Profile</h1>
        <div class="well inline-headers">
        {% thumbnail user.profile_picture.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail">
        {% endthumbnail %}
        <h4>{{ user.get_full_name }}</h4>

        <h2>Upload photo</h2>
          <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.caption.label }}: {{ form.caption }}<br>
            {{ form.image }}<br>
            <input type="submit" value="Upload">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
