{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="index">
  <h1>Welcome, {{ facespaceuser.first_name }}, to your profile.</h1>

  {% thumbnail user.profile_picture.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}
  <p class="lead">Some blah goes here.
  <h2>Pending Friends</h2>
  {% for friendship in user.pending_friendships %}
  <p>{{ friendship.from_friend.get_full_name }}<a href="{% url 'confirm' friendship.id %}">Confirm</a></p><br>
  {% endfor %}

  <h2>Friends</h2>
  {% for friend in confirmed_friends %}
  <p>{{ friend.first_name }}</p><br>
  {% endfor %}
  <h2>Upload photo</h2>
  <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload">
  </form>
</div>
{% endblock %}
